{
  "InputImagePath": "/home/jay/BigData/ML/parkinglot/web/static/images/input/",
  "OutputDataPath": "/home/jay/BigData/ML/parkinglot/web/static/data/",
  "Interval" : 1,
  "OutputFileName":"Output.txt",
  "IsLive":0,
  "MovePredictedImages":0,
  "MoveImagePath":"/home/jay/BigData/ML/parkinglot/web/static/images/backup/"

}